*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background: linear-gradient(to right, rgb(82, 81, 81), rgb(0, 0, 0));
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    background:linear-gradient(to bottom, rgb(82, 81, 81), rgb(0, 0, ));
    padding: 45px;
    
}

form h2{
    font-size: 35px;
     margin-bottom: 35px;
     color: black;
}
input{
    background-color: azure;
    padding: 15px 20px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 25px;
    color: black;
    outline: none;
    font-size: 16px;
}

.btn btn-primary{
    background-color: rgb(133, 65, 65);
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    
}

    .btn:hover{
        background-color:rgb(130, 39, 39);
        border-radius: 15px;
}